body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 16, 49);
}
.space {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(116, 116, 131);
  transform: translate(-50%, -50%);
}
.orbit {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: orbit 5s linear infinite;
}
.moon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background-color: rgb(127, 123, 123);
}
@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
